{{- if semverCompare ">=1.16-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: apps/v1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Deployment
metadata:
  name: {{ include "dnsimple-webhook.fullname" . }}
  labels:
    app: {{ include "dnsimple-webhook.name" . }}
    chart: {{ include "dnsimple-webhook.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "dnsimple-webhook.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "dnsimple-webhook.name" . }}
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "dnsimple-webhook.fullname" . }}
      {{- if .Values.image.pullSecret }}
      imagePullSecrets:
        - name: {{ .Values.image.pullSecret }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --tls-cert-file=/tls/tls.crt
            - --tls-private-key-file=/tls/tls.key
{{- if .Values.logLevel }}
            - --v={{ .Values.logLevel }}
{{- end }}
{{- if .Values.useUnprivilegedPort }}
            - --secure-port=8443
{{- end }}
          env:
            - name: GROUP_NAME
              value: {{ include "dnsimple-webhook.api-group" . | quote }}
          ports:
            - name: {{ include "dnsimple-webhook.service.port-name" . }}
{{- if .Values.useUnprivilegedPort }}
              containerPort: 8443
{{- else }}
              containerPort: 443
{{- end }}
              protocol: TCP
          livenessProbe:
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            httpGet:
              scheme: {{ include "dnsimple-webhook.probes.scheme" . }}
              path: {{ include "dnsimple-webhook.probes.path" . }}
              port: {{ include "dnsimple-webhook.service.port-name" . }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          readinessProbe:
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            httpGet:
              scheme: {{ include "dnsimple-webhook.probes.scheme" . }}
              path: {{ include "dnsimple-webhook.probes.path" . }}
              port: {{ include "dnsimple-webhook.service.port-name" . }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          startupProbe:
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            httpGet:
              scheme: {{ include "dnsimple-webhook.probes.scheme" . }}
              path: {{ include "dnsimple-webhook.probes.path" . }}
              port: {{ include "dnsimple-webhook.service.port-name" . }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
          volumeMounts:
            - name: certs
              mountPath: /tls
              readOnly: true
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: certs
          secret:
            secretName: {{ include "dnsimple-webhook.servingCertificate" . }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
